.cadastro {
    grid-area: 1 / 2 / 2 / 3;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.label-cadastro {
    font-size: 20px;
}

.input-cadastro {
    height: 15%;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.13);
}

.cadastro-btn {
    align-self: center;
}

.login-link {
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}
