.cardapio {
    grid-area: 1 / 2 / 2 / 3;
}

.item-cardapio {
    background-color: var(--cor-bg-escuro-transparente);
    padding: 20px;
    border-radius: 20px;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descricao {
    font-size: 18px;
}

.preco {
    font-size: 24px;
    font-weight: bold;
}

.acoes-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.quantidade {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lanche-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
