.cardapio {
    grid-area: 1 / 2 / 2 / 3;
}

.lista-cardapio {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-cardapio {
    background-color: var(--cor-bg-escuro-transparente);
    padding: 20px;
    border-radius: 20px;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descricao {
    font-size: 18px;
}

.preco {
    font-size: 24px;
    font-weight: bold;
}

.acoes-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.quantidade {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-admin {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.modal-lanche {
    grid-area: 2 / 2 / 3 / 3;
}

.form-lanche {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lanche-field {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingredientes-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingrediente-item {
    display: flex;
    gap: 20px;
}
