.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}

.titulopg {
    text-align: center;
}
.itemTitulo {

    display: grid;

    /* 4 colunas */
    grid-template-columns: 100px 300px 100px 180px;

    align-items: center;
    gap: 15px;

    background: rgb(208, 122, 9);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);


}
/* CARD */
.item {
    display: grid;

    /* 4 colunas */
    grid-template-columns: 100px 300px 100px 180px;

    align-items: center;
    gap: 15px;

    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* IMAGEM */
.img img {
    width: 100%;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
}

/* DESCRIÇÃO */
.descricao h3 {
    margin: 0;
}

.descricao p {
    margin: 5px 0;
    color: #666;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* corta em uma linha */
}
.texto {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* mostra só 2 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.texto.ativo {
    -webkit-line-clamp: unset;
    overflow: visible;
}
.toggle {
    color: #ea1d2c;
    cursor: pointer;
    font-size: 14px;
}

/* PREÇO */
.preco {
    text-align: center;
    font-weight: bold;
    color: green;
}

/* BOTÃO */
.acao {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.acao button {
    background: #ea1d2c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}



html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}