*{
    font-family: var(--font-title);
}

.carrinho-main {
    background-image: url(../assets/x-bacon.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.carrinho-btn{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.carrinho-btn-add-mais-pedido{
    padding: 0.5rem 2rem;
    border-radius: 30px;
}

.carrinho-btn-finalizar-pedido{
    font-size: 1.2rem;
    padding: 0.5rem 6rem;
    border-radius: 30px;
    margin-bottom: 2rem;
}

.carrinho-pedido{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;   
    background-color: var(--cor-bg-claro-transparente);
    padding: 1rem;
    margin-top: 2rem;
}

.carrinho-btn-lexeira{
    background-color: transparent;
    background-image: url(../assets/lixeira.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}


.carrinho-img-pedido{
    width: 100px;
    height: 100px;
}

