.carrinho {
    grid-area: 1 / 2 / 2 / 3;
}

.itens-carrinho {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.carrinho-pedido {
    background-color: var(--cor-bg-escuro-transparente);
    padding: 20px;
    border-radius: 20px;
    width: 80%;

    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.nome-lanche {
    grid-area: 1 / 1 / 2 / 2;
}

.observacoes {
    grid-area: 2 / 1 / 3 / 2;
}

.preco-carrinho {
    grid-area: 1 / 2 / 2 / 3;
}

.carrinho-btn-lixeira {
    grid-area: 2 / 2 / 3 / 3;

    background-image: url(../assets/icon/lixeira.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* height: 35px;
    width: 35px; */
}
