.historico {
    grid-area: 1 / 2 / 2 / 3;
}

.pedidos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pedido {
    background-color: var(--cor-bg-escuro-transparente);
    padding: 20px;
    border-radius: 15px;
}