.main-home {
    background-image: url(../assets/x-bacon.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
}

.principal {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--cor-bg-claro-transparente);
    height: 70vh;
    margin-top: 50px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo-home {
    font-family: var(--font-title);
    font-size: 64px;
}

.btns {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.sobre {
    grid-area: 2 / 2 / 3 / 3;
}

.destaques {
    background-color: var(--cor-bg-claro);
    grid-area: 3 / 2 / 4 / 3;
}

.galeria {
    grid-area: 4 / 2 / 5 / 3;
}

.final {
    background-color: var(--cor-bg-claro);
    grid-area: 5 / 2 / 6 / 3;
}

.btn {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-claro);
    font-size: 18px;
    height: 60px;
    width: fit-content;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.178);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background-color: var(--cor-secundaria-hover);
    cursor: pointer;
    box-shadow: 3px 4px 2px 2px rgba(0, 0, 0, 0.096);
    transform: translateY(-2px);
}