/* ===== SEÇÃO PRINCIPAL ===== */
.principal {
    grid-area: 1 / 2 / 2 / 3;
}

/* ===== SEÇÃO SOBRE ===== */
.sobre {
    grid-area: 2 / 2 / 3 / 3;
}

.titulo-sobre {
    font-family: var(--font-title);
    font-size: 48px;
}

/* ===== SEÇÃO FINAL ===== */
.final {
    grid-area: 4 / 2 / 5 / 3;
}
