/* ===== SEÇÃO PRINCIPAL ===== */
.principal {
    grid-area: 1 / 2 / 2 / 3;

    /* efeito glassmorphism sobre imagem de fundo */
    background-color: var(--cor-bg-claro);
    backdrop-filter: blur(10px);

    height: 70vh;
    margin-top: 50px;
    padding: 30px;

    border-radius: 20px;
    border: var(--borda-padrao);
    box-shadow: var(--sombra-padrao);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo-home {
    font-size: 64px;
}

.texto-principal {
    width: 80%;
}

.texto {
    font-family: var(--font-text);
    font-size: 20px;
    line-height: 1.5;
}

.btns {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


/* ===== SEÇÃO SOBRE ===== */
.sobre {
    grid-area: 2 / 2 / 3 / 3;

    background-color: var(--cor-bg-claro);
    backdrop-filter: blur(10px);

    height: 50vh;
    margin-top: 50px;
    padding: 30px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo-sobre {
    font-family: var(--font-title);
    font-size: 48px;
}


/* ===== SEÇÃO DESTAQUES ===== */
.destaques {
    grid-area: 3 / 2 / 4 / 3;

    background-color: var(--cor-bg-claro);
    backdrop-filter: blur(10px);

    height: 60vh;
    margin-top: 50px;
    padding: 30px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo-destaques {
    font-family: var(--font-title);
    font-size: 48px;
}

/* ===== SEÇÃO FINAL ===== */
.final {
    grid-area: 4 / 2 / 5 / 3;

    background-color: var(--cor-bg-claro);
    backdrop-filter: blur(10px);

    height: 60vh;
    margin: 50px 0;
    padding: 30px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* ===== BOTÕES ===== */
.btn {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-claro);

    font-size: 18px;
    height: 60px;
    width: fit-content;

    padding: 10px;
    border-radius: 14px;

    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.178);

    /* transições suaves para interação */
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background-color: var(--cor-secundaria-hover);
    cursor: pointer;

    /* leve elevação ao interagir */
    box-shadow: 3px 4px 2px 2px rgba(0, 0, 0, 0.096);
    transform: translateY(-2px);
}