.login {
    grid-area: 1 / 2 / 2 / 3;
}

.title-login {
    font-size: 54px;
}

.login-form {
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cadastro-link {
    text-decoration: none;
}

.cadastro-link:hover {
    text-decoration: underline;
}
