@charset "UTF-8";

/* =========================
    IMPORTS
========================= */

@import url("header.css");
@import url("home.css");
@import url("footer.css");
@import url("login.css");

/* =========================
    RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
    VARIÁVEIS
========================= */

:root {
    --cor-principal: #FBB534;
    --cor-secundaria: #E63946;
    --cor-secundaria-hover: #aa2f3a;
    
    
    --cor-bg-escuro: #1A1A1A;
    --cor-bg-claro: #F5F5F5;
    --cor-bg-claro-transparente: #f5f5f5b4;
    
    --cor-texto-claro: #FFFFFF;
    --cor-texto-escuro: #000000;

    --font-title: "BebasNeue";
}

/* =========================
    FONTES
========================= */

@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}
