.finalizar-pedido-container {
    grid-area: 1 / 2 / 2 / 3;
}

.form-finalizar-pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pagamento {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.endereco {
    width: 100%;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}