.perfil {
    grid-area: 1 / 2 / 2 / 3;
}

.perfil-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.perfil-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-area {
    grid-area: 2 / 2 / 3 / 3;
}